body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.column {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.column h2 {
  margin: 0;
  font-size: 1.2em;
}
button {
  border: none;
  padding: 6px 10px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  background: #007bff;
  color: #fff;
}
button:hover {
  background: #0056b3;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}
.card {
  border-radius: 8px;
  padding: 10px;
  position: relative;
  color: #222;
}
.card button {
  background: transparent;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.card-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.delete {
  position: absolute;
  top: 5px;
  right: 8px;
  font-weight: bold;
  cursor: pointer;
}

.back-button {
  position: fixed;
  bottom: 4vh;
  left: 2vw;
  text-decoration: none;
  background: #718093;
  color: white;
  padding: 0.5rem 3rem;
  border-radius: 8px;
  font-weight: 500;
}

.back-button:hover {
  background: #474a4f;
  box-shadow: 3px 3px 5px lightblue;
}
